[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=testMediaPlayer
Exec=/opt/testMediaPlayer/bin/testMediaPlayer
Icon=testMediaPlayer64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
