[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=testModelView_0
Exec=/opt/testModelView_0/bin/testModelView_0
Icon=testModelView_064
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
