[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=testGridView
Exec=/usr/bin/single-instance /opt/testGridView/bin/testGridView
Icon=/usr/share/icons/hicolor/80x80/apps/testGridView80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
