[Desktop Entry]
Type=Application
Name=Contacts
Icon=icons-Applications-people
Exec=invoker -s --type=qtcomponents-qt5 /usr/bin/qmlcontacts -fullscreen
Comment=Nemo People Application
