[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=testQtFilterProxyModel
Exec=/opt/testQtFilterProxyModel/bin/testQtFilterProxyModel
Icon=testQtFilterProxyModel64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
