[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=testDefaultQtProject
Exec=/opt/testDefaultQtProject/bin/testDefaultQtProject
Icon=testDefaultQtProject64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
