[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=testQmlCallCPlusPlus
Exec=/opt/testQmlCallCPlusPlus/bin/testQmlCallCPlusPlus
Icon=testQmlCallCPlusPlus64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
