[Desktop Entry]
Encoding=UTF-8
Version=1.0
Path=/data/apps/0123-4567-89AB-CDEF/testConfirmDialog
Exec=/data/apps/0123-4567-89AB-CDEF/testConfirmDialog/testConfirmDialog
#Icon=/data/system/icons...
Type=Application
Terminal=false
Name=testConfirmDialog
#MimeType=

