[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=testQtQuick2BuildIn
Exec=/opt/testQtQuick2BuildIn/bin/testQtQuick2BuildIn
Icon=testQtQuick2BuildIn64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
